/* Global CSS */
.marginal{
  width: 86%;
  max-width: 1300px;
  margin: 5% auto;
}
/* Sarala Font */
.sarala-regular {
  font-family: "Sarala", sans-serif;
  font-style: normal;
}
.sarala-bold {
  font-family: "Sarala", serif;
  font-weight: 700;
  font-style: normal;
}


/* Viaoda Libre Font */
.viaoda-libre-regular {
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.viaoda{
  font-family: "Viaoda Libre", serif;
}
.sarala{
  font-family: "Sarala", sans-serif; 
  font-weight: 100;
}

/* Hamburger menu css */
/* From Uiverse.io by talhabangyal */ 
.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 1.5em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  /* Define the transition for transforming the Stroke */
  transition:
    stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
/* Hover menu animation */
.menu li {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 4px 0;
}

.menu li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #4CA5F1; /* Change to your preferred underline color */
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.menu li:hover::after {
  width: 100%;
}
/* Test animation on cover */
.ml12-1,.ml12-2 {
  text-transform: uppercase;
}

.ml12-1 .letter,.ml12-2 .letter {
  display: inline-block;
  line-height: 1em;
}

/* Snapshots slider dots css */
/* Custom dots container */
/* Custom Arrows */
.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: transform 0.3s ease, background-color 0.3s;
}

.custom-arrow:hover svg{
  background-color: rgb(232, 250, 255);
  border-radius: 100px;
  transition: all 0.3s linear;
}

/* Left Arrow */
.arrow-left {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  display: block;
  width: 0;
  height: 0;
}

/* Right Arrow */
.arrow-right {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  display: block;
  width: 0;
  height: 0;
}

/* Positioning of the arrows */
.custom-next {
  right: -26px; /* Adjust right arrow position */
}

.custom-prev {
  left: -26px; /* Adjust left arrow position */
}






/* Navbar Glare Effect */
button.relative {
  position: relative;
  overflow: hidden;
}

button .glare-effect {
  position: absolute;
  top: 0;
  left: -130%;  /* Start completely outside the button on the left */
  width: 200%;  /* Make it wider than the button to ensure it fully covers */
  height: 100%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1));
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.5s ease;
}

button:hover .glare-effect {
  opacity: 1;
  animation: glare-move 1.5s infinite;
}

@keyframes glare-move {
  0% {
    transform: translateX(-100%) rotate(45deg);  /* Starts from left outside */
  }
  50% {
    transform: translateX(100%) rotate(45deg);   /* Moves to the right, past the button */
  }
  100% {
    transform: translateX(-100%) rotate(45deg);  /* Return to the left outside */
  }
}

.truncate-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Contact Us Page Map */
/* .leaflet-container {
  width: 500px;
  height: 350px;
} */




.slider-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  /* border: 6px solid red; */
  overflow: hidden;
}

.left-slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.left-slide h1 {
  /* font-size: 40px; */
  margin-bottom: 10px;
  margin-top: -30px;
}
.right-slide {
  height: 100% !important;
  position: absolute !important;
  left: 35% !important;
  width: 65% !important;
  transition: transform 0.5s ease-in-out;
}

.right-slide > .outer {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  height: 100%;
  width: 100%;
  position: relative; /* Establish stacking context */
  backdrop-filter: blur(10px); /* Glassmorphic blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  background-color: rgba(0, 0, 0, 0.4); /* Dark overlay background */
}

.right-slide > .outer > .inner {
  position: absolute; /* Position relative to parent */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for centering */
  z-index: 2; /* Place above parent */
  
  overflow: hidden; /* Prevent overlay from going outside */
  display: flex; /* For content alignment */
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2); /* Darker transparent background */
  backdrop-filter: blur(10px); /* Blur effect on inner element */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
}

.right-slide > .outer > .inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1); /* Darker transparent overlay for enhanced effect */
  z-index: -1; /* Place it behind the content */
}


.sl-btn {
  border: none;
  background-color: #fff;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  width: 40px !important;
  height: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container .action-buttons .sl-btn {
  position: absolute;
  left: 35%;
  top: 50%;
  /* z-index: 100; */
}

.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  border-radius: 4px 0 0 4px;
}

.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  border-radius: 0 4px 4px 0;
}

.down-button:hover,
.up-button:hover {
  background-color: #f0f0f0;
}

.mobile-slider {
  display: flex;
  flex-direction: column;
}

.mobile-slide {
  flex: none; /* Prevents stretching */
  height: auto; /* Adjust as necessary */
}

.mobile-images {
  display: flex;
}

.mobile-image {
  width: calc(100% / slidesLength); /* Adjust based on number of images */
  height: auto; /* Maintain aspect ratio */
}

 /* From Uiverse.io by alexmaracinaru */ 
 .cta {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  color: white;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  
  margin-bottom: 5px;
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: white;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



/* From Uiverse.io by tomaskriegelstein */ 
.pro-cta {
  /* font-size: 50px; */
  color: rgb(215, 215, 215);
  /* font-weight: 400; */
  cursor: pointer;
  position: relative;
  border: none;
  background: none;

  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  display: inline-flex;
  align-items: center;
}

.pro-cta:focus,
.pro-cta:hover {
  color: white;
}

.pro-cta:hover:after {
  width: 100%;
  /* right: ; */
  left: auto; /* Ensure left is auto to override the initial value */
}

.pro-cta:after {
  content: "";
  pointer-events: none;
  bottom: -7px;
  right: auto; /* Start from the right */
  left: 0; /* Ensure left is auto to override the initial value */
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 500ms;
  transition-property: width, right;
}

.svg-icon {
  width: 0.9em;
  height: 0.8em;
  margin-left: 10px;
  fill: rgb(215, 215, 215);
  transform: rotate(-45deg);
  transition: transform 0.5s ease-out;
}

.pro-cta:hover .svg-icon {
  transform: rotate(0deg);
  fill: white;
}
